* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 0.5rem;
  padding-left: 8rem;
  padding-right: 8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  color: #302B2A;
}

header, footer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;

  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: last baseline;
  align-items: first baseline;
  
}

main {
  margin: 2rem;
}

main h2 {
  text-align: center;
  padding: 0.5rem;
}

.index-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.section1 {
  background-color: #CFF4E1;
  border-radius: 10px;
}

.section2 {
  background-color: #D7E8D2;
  border-radius: 10px;
}

.section3 {
  background-color: #F0F9D9;
  border-radius: 10px;
}

.section4{
  background-color: #CFF4E1;
  border-radius: 10px;
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  padding: 1rem;
  border-bottom: #302B2A;
}

a {
  text-decoration-line: none;
  color: #302B2A;
  padding: 0.5rem;
}

a:hover {
  font-size: larger;
  font-weight: bolder;
}

.date {
  padding: 0.5rem;
  font-size: 0.875rem;
  border-bottom: 2px solid #302B2A;
}

@media (max-width: 1100px) {

  header, footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  body {
    padding-left: 0rem;
    padding-right: 0rem;
  }

}

